.profile {
  display: flex;
  width: 882px;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 77px;
  border: 1px;
  margin-left: 30px;
}

.profile__info-name {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 56px;
  margin: 0;
  width: 380px;
  overflow-wrap: anywhere;
}

.profile__info-description {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  width: 380px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  border: #fff solid;
  margin-left: 15px;
  background-color: black;
}

.profile__edit-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__edit-button-image {
  width: 10px;
  height: 10px;
  background-color: black;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  border-left: #fff solid 2px;
  border-right: #fff solid 2px;
  opacity: 100%;
}
.profile__add-button:hover {
  opacity: 60%;
  cursor: pointer;
}

.profile__add-button-image {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    width: 280px;
    margin: 0;
    justify-content: center;
  }

  .profile__info-name {
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
    width: 235px;
  }

  .profile__info-description {
    width: auto;
  }

  .profile__add-button-image {
    width: 282px;
    height: 50px;
    margin-top: 20px;
  }

  .profile__add-button {
    width: 100%;
    border: 0;
  }
}
