.header {
  width: 882px;
  max-width: 100%;
  border-bottom: 1px solid #545454;
  margin-top: 45px;
}

.header__logo {
  max-width: 173px;
  width: 100%;
  margin-bottom: 41px;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
}
